
@{
    ViewBag.Title = "Completed";
}
<div class="container mt-5">
    <h2><i class="fa fa-check-circle" aria-hidden="true"></i> SİPARİŞİNİZ ALINDI</h2>
    <h4>Siparişiniz en kısa zamanda kargoya verilecektir.</h4>
    <a href="/Home" class="btn btn-warning"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfaya Dön</a>
</div>
