
<ul class="navbar-nav my-2 my-lg-0">
    @if (Request.IsAuthenticated)
    {
        <li class="nav-item active">
            <a class="nav-link" href="/Cart" style="color: white;"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>Sepetim <span class="sr-only">(current)</span></a>
        </li>
    }

</ul>

