@model IEnumerable<Staj.Entity.Category>
@{ var selectedCategory = Url.RequestContext.RouteData.Values["id"];}

<ul class="list-group">
    <li class="list-group-item">
        <a href="/Home/List">Tüm Ürünler</a>
    </li>

    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {

            if (item.Id == int.Parse(selectedCategory.ToString()))
            {
                <li class="list-group-item active">
                    <a href="/Home/List/@item.Id">@item.Name</a>
                </li>
            }
            else
            {
                <li class="list-group-item">
                    <a href="/Home/List/@item.Id">@item.Name</a>
                </li>
            }
        }
        else
        { 
            <li class="list-group-item">
                <a href="/Home/List/@item.Id">@item.Name</a>
            </li>
        }


    }
</ul>

