
@using Staj.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="/theme/css/style.css">
</head>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList" , Model)
</div>
