<ul class="navbar-nav mr-auto my-2 my-lg-0">
    @if (Request.IsAuthenticated)
    {
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index", "DocumentTracking")" style="color: white;"><i class="fa fa-file-text" aria-hidden="true"></i> Dokümanlar</a>
        </li>
        if (User.IsInRole("admin"))
        {
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Account")" style="color: white;"><i class="fa fa-users" aria-hidden="true"></i> Kullanıcılar</a>
            </li>
        }
    }
</ul>
<ul class="navbar-nav ml-auto my-2 my-lg-0">
    @if (Request.IsAuthenticated)
    {
        <li class="nav-item active">
            <span class="nav-link" style="color: white;">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> @User.Identity.Name
            </span>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Logout" style="color: white;">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap
            </a>
        </li>
    }
    else
    {
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login" style="color: white;">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Giriş Yap <span class="sr-only">(current)</span>
            </a>
        </li>
    }
</ul>
