<ul class="navbar-nav my-2 my-lg-0">
    @if (Request.IsAuthenticated)
    {
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Account/Index"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profilim</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Account/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Çıkış Yap</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login" style="color: white;"><i class="fa fa-sign-in" aria-hidden="true"></i> Giriş Yap <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Register" style="color: white;"><i class="fa fa-user-plus" aria-hidden="true"></i> Kayıt Ol <span class="sr-only">(current)</span></a>
        </li>
    }
</ul>
